@charset "utf-8";
@import url(fonts.css);


$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bootstrap-sass-datepicker/sass/datepicker.scss";
@import "bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss";
// endbower


/*================================================
 1. SASS Config
 ================================================*/
 /* Variables */
$font-primary-regular: quicksandregular, Arial, sans-serif;
$font-primary-italic: quicksandregular, Arial, sans-serif;
$font-primary-italic: quicksandlight, Arial, sans-serif;
$font-secondary-regular-art: ar_decoderegular, Arial, sans-serif;
$font-secondary-regular: droid_sansregular, Arial, sans-serif;
$font-secondary-bold: droid_sansbold, Arial, sans-serif;

$primary-color: #2a2e33;
$secondary-color: #ffd700;

/* Misins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Extends */
%button {
  background: $secondary-color;
  @include border-radius(9px);
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  padding: 0 15px;
  width: auto;
  font-family: $font-secondary-bold;
  border: none;
  color: $primary-color;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 100px;
  margin: 20px 0 0;

  &:hover {
    text-decoration: none;
    background: #ffffff;
  }
}

/*================================================
 2. Styles Reset
 ================================================*/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-family: $font-primary-regular;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body, div, dl, dt, dd, ul, ol, li, pre, code, form, label, fieldset, legend, input, button, textarea, p, blockquote, th, td, footer, header, hgroup, menu, nav, section {
  color: $primary-color;
  font-size: 14px;
}
div, dl, dt, dd, ul, ol, li, legend, input, button, textarea, p, blockquote, th, td {
  font-size: 14px;
  line-height: 18px;
  font-family: $font-primary-regular;
}
nav li {
  list-style-type: none;
}
blockquote, q {
  quotes: none;
  font-family: $font-primary-italic;
  color: $primary-color;
  border: none;
  font-size: 18px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
input[type=radio], input[type=checkbox] {
  vertical-align: middle;
  margin: 0;
}
ins {
  color: $primary-color;
  text-decoration: none;
}
mark {
  color: $primary-color;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primary-color;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del, ins {
  text-decoration: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
h1 {
  font-size: 50px;
  line-height: 55px;
  font-family: $font-primary-regular;
  color: $primary-color;
}
h2 {
  font-size: 48px;
  font-family: $font-primary-regular;
  color: $primary-color;
}
h3 {
  font-size: 60px;
  font-family: $font-secondary-regular-art;
  color: $primary-color;
  text-align: center;
  text-transform: capitalize;
  line-height: normal;
}
h4 {
  font-size: 24px;
  font-family: $font-primary-regular;
  color: $primary-color;
  margin: 5px 0;
}
h5 {
  font-size: 18px;
  font-family: $font-secondary-regular;
  color: $primary-color;
  text-transform: uppercase;
}
h6 {
  font-size: 14px;
  color: $primary-color;
  line-height: 24px;
}
p {
  font-family: $font-primary-regular;
  padding: 0 0 15px;
  color: $primary-color;
  font-size: 14px;
}
a {
  font-family: inherit;
  background-color: inherit;
  color: $secondary-color;
  font-size: inherit;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ol {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
ol li {
  list-style-type: none;
  color: $primary-color;
  font-family: $font-primary-regular;
}
ul li {
  list-style-type: none;
  color: $primary-color;
  font-family: $font-primary-regular;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
}
input:focus, textarea:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
* html .clearfix {
  height: 1px;
}
input:-moz-focus-inner {
  border: 0;
  padding: 0;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/*================================================
 3. Main Styles
 ================================================*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button, input[type="button"], .button {
  @extend %button;
}

/* Header */
.header {
  background: $primary-color;

  .logo {
    padding: 10px 0;

    a {
      background: url("../images/logo.png") no-repeat 0 0 transparent;
      color: #ffffff;
      display: block;
      width: 110px;
      height: 85px;
      position: relative;

      span {
        position: absolute;
        right: 0;
        bottom: 0;
        font-style: italic;
        font-size: 14px;
        font-family: "Times New Roman", Arial, serif;
      }
    }
  }

  .nav {
    li {
      a {
        line-height: 105px;
        padding: 0 23px;
        background: none;
        @include border-radius(0);
        border-top: 4px solid $primary-color;
        color: #ffffff;
        text-transform: uppercase;
        font-family: $font-secondary-bold;
        font-size: 13px;
      }

      &.active, &:hover {
        a {
          border-color: $secondary-color;
          background: #1e2329;
        }
      }
    }
  }

  .navbar-header {
    height: 110px;
  }

  .navbar-toggle {
    background: $secondary-color;
    min-width: 30px;
    margin: 20px 0 0;
    padding: 7px;
  }

  .navbar-toggle .icon-bar {
    background: #ffffff;
  }
}

/* Main */
.hero-carousel {
  background: #00ccff;
  padding: 0 0 60px;
}

.hero-carousel-inner {
  text-align: center;
  color: #ffffff;

  .item {
    height: 400px;
    padding: 75px 0 0;
    background: url("../images/slider-image.jpg") no-repeat 20px center transparent;
  }

  h2 {
    display: block;
    position: relative;
    padding: 30px 0;
    margin: 0;
    text-transform: uppercase;
    font-family: "Times New Roman", Arial, serif;
    font-size: 60px;
    color: #ffffff;

    &:before {
        display: block;
        border-top: 1px dashed #c3f3ff;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 456px;
    }

    &:after {
        display: block;
        border-bottom: 1px dashed #c3f3ff;
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 356px;
    }
  }

  h3 {
    padding: 0 0 30px;
    margin: 0;
    color: #ffffff;
    font-family: "Times New Roman", Arial, serif;
    font-size: 30px;
  }

  h5 {
    padding: 40px 0 0;
    font-family: "Times New Roman", Arial, serif;
    font-size: 30px;
    color: #ffffff;
  }
}

.container {
  position: relative;
}

.date-picker-content {
  background: $primary-color;
  padding: 15px 12px 25px;
  position: absolute;
  margin: auto;
  left: 0; 
  right: 0;
  top: -60px;

  form > div {
    float: left;
    padding: 0 6px;
    position: relative;
  }

  label {
    display: block;
    padding: 0 0 5px 12px;
  }

  .input-wrapper {
    position: relative;

    &:before {
      content: "\f073";
      font-family: FontAwesome;
      position: absolute;
      left: 8px;
      top: 2px;
      bottom: 0;
      color: black;
      margin: auto;
      z-index: 1;
    }
  }

  input[type="text"], .dropdown-toggle {
    border: none;
    @include border-radius(9px);
    height: 45px;
    width: 256px;
  }

  input[type="text"] {
    padding: 5px 5px 5px 25px;
    font-family: $font-primary-italic;
    font-size: 18px;
    color: $primary-color;
    position: relative;
  }

  .dropdown-toggle-wrapper {
    position: relative;
  }

  .dropdown-toggle { 
    text-align: left;
    font-family: $font-primary-italic;
    font-size: 18px;
    color: $primary-color;
    margin: 0;
    text-transform: none;
    background: #ffffff;

    &:hover {
      background: #ffffff;
    }

    .caret {
      background: url("../images/small-arrow.png") no-repeat 0 center transparent;
      width: 12px;
      height: 8px;
      border: none;
      position: relative;
      top: -4px;
    }
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: -81px;
    height: 81px;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/shadow.png") no-repeat center bottom transparent;
    display: block;
  }

  label {
    color: $secondary-color;
    font-family: $font-primary-italic;
    font-size: 18px;
  }

  input[type="button"] {
    background: $secondary-color;
    @include border-radius(9px);
    width: 178px;
    height: 45px;
    border: none;
    font-family: $font-secondary-bold;
    font-size: 18px;
    margin: 22px 0 0;

    &:hover {
      background: #ffffff;
    }
  }
}

.booking {
  padding: 100px 0 40px;
  background: url("../images/bg-2.jpg") repeat;
  border-bottom: 1px solid #949698;

  p {
    text-align: center;
  }
}

/** Carousel **/
.jcarousel-wrapper {
  position: relative;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
}

.jcarousel img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto !important;
    border: 3px solid $primary-color;
    @include border-radius(50%);
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    width: 55px;
    height: 90px;
    text-align: center;
    background: url("../images/sprite.png") no-repeat 0 0 transparent;
}

.jcarousel-control-prev {
    background-position: 0 0;
    left: 15px;
}

.jcarousel-control-next {
  background-position: -57px 0;
    right: 15px;
}

.rooms {
  background: url("../images/bg-1.jpg") repeat;
  padding: 0 0 70px;

  .col-xs-4 {
    padding-bottom: 30px;
  }

  > div {
    text-align: center;
    padding: 0;

    img {
      width: 100%;
    }
  }

  h3 {
    padding: 30px 0;
  }
}

.services {
  text-align: center;
  padding: 0 2px;

  li {
    display: inline-block;
    background: url("../images/sprite.png") no-repeat 0 0 transparent;

    &.air-conditioner {
      background-position: -126px -3px;
      width: 21px;
      height: 21px;
    }

    &.hair-dryer {
      background-position: -154px -3px;
      width: 18px;
      height: 21px; 
    }

    &.iron {
      background-position: -178px -3px;
      width: 24px;
      height: 21px;
    }

    &.microwave {
      background-position: -208px -3px;
      width: 21px;
      height: 21px;
    }

    &.wi-fi {
      background-position: -236px -3px;
      width: 21px;
      height: 21px;
    }

    &.hot-drinks {
      background-position: -263px -3px;
      width: 21px;
      height: 21px;
    }
  }
}

.acknowledgment {
  background: #e7cb2c;

  .container {
    padding: 50px 0;
  }

  h2 {
    color: #ffffff;
    padding: 0 0 30px;
  }

  blockquote {
    color: #ffffff;
    border: none;
  }

  .person {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* Footer */
.footer {
  background: #333333;
  border-bottom: 34px solid #1f1f1f;
  padding: 25px 0 115px;

  h5 {
    color: #ffffff;
    padding: 0 0 10px;
  }

  p {
    color: #ffffff;
    padding: 10px 0;
    font-size: 12px;

    a {
      color: #ffffff;
    }

    span {
      display: block;
      text-transform: uppercase;
      color: #e7cb2c;
      font-size: 10px;
    }
  }

  form {
    padding: 10px 0 0;
    div {
      padding: 0 0 5px;
    }
  }

  label, input[type="text"] {
    color: #ffffff;
    font-size: 12px;
    display: block;
  }

  label {
    padding: 0 0 3px;
  }

  input[type="text"] {
    border: 1px solid #272727;
    @include border-radius(9px);
    background: transparent;
    height: 25px;
    padding: 5px;
    width: 100%;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Header */
  .header {
    .navbar-collapse {
      padding: 0;
    }
    
    .container {
      margin: auto;
      padding: 0;
      width: 100%;
    }
  }

  /* Main */
  .container {
    max-width: 1230px;
    width: 95%;
  }

  .slide-content {
    padding: 0 0 0 200px;
    margin: 0 auto;
  }
}
/* Responsive: desktop and down */
@media screen and (max-width: 1230px) {
  /* Main */
  .hero-carousel-inner {
    .item { 
      background: none;
    }
  }

  .hero-carousel-inner {
    .item { 
      .slide-content {
        padding: 0;
      }
    }
  }

  .person {
    display: none;
  }
}

/* Responsive: desktop */
@media screen and (min-width: 1020px) {
  /* Main */
  .date-picker-content {
    width: 1020px;
  }
}

/* Responsive: desktop and down */
@media screen and (max-width: 1019px) {
  /* Header */
  .nav li a {
      padding: 0 16px;
  }

  /* Main */
  .date-picker {
    .container {
      width: 293px;
      margin: auto;
    }
  }

  .date-picker-content {
    max-width: 293px;

    form > div {
      float: none;

      label {
        padding: 10px 0 5px 12px;
      }
    }
  }

  .booking {
    padding: 350px 0 40px;
  }
}

/* Responsive: tablet portrait and down */
@media screen and (max-width: 767px) {
  /* Header */
  .header {
    .navbar-collapse  li a {
      line-height: 35px;
      border-left: 4px solid $primary-color;
      border-top: 0;
    }
  }
  
  /* Main */
  .content {
    padding: 0 15px;
  }

  .row {
    margin: 0; 
    padding: 0;
  }

  .col-xs-2, .col-xs-3, .col-xs-4 {
    float: none;
    margin: auto;
    padding: 0 0 20px;
  }

  .rooms {
    .col-xs-2, .col-xs-3, .col-xs-4 {
      width: 70%;
    }
  }
  
  /* Footer */
  .footer {
    .col-xs-2, .col-xs-3, .col-xs-4 {
      width: auto;
      padding: 0 0 20px;
    }

    input[type="text"] {
      width: 200px;
    }
  }
}

/* Responsive: phone portrait and down */
@media screen and (max-width: 320px) {
  /* Main */
  .col-xs-2, .col-xs-3, .col-xs-4 {
    width: 90%;
  }
}